:root {
  --color-primary: #2584ff;
  --color-secondary: #00d9ff;
  --color-accent: #ff3400;
  --color-heading: #1b0760;
  --color-body: #918ca4;
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
/* Typography */

html {
  font-size: 62.5%;
}
body {
  color: var(--color-body);
  font-size: 2.4rem;
}
h1,
h2,
h3 {
  color: var(--color-heading);
  margin-bottom: 1rem;
}
h1 {
  font-size: 7rem;
}
h2 {
  font-size: 4rem;
}
h3 {
  font-size: 3rem;
}
p {
  margin-top: 0;
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.8rem;
  }
  h1 {
    font-size: 8rem;
  }
  h2 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.4rem;
  }
}

/* Link */

a {
  text-decoration: none;
}
.link-arrow {
  font-size: 2rem;
  color: var(--color-accent);
  text-transform: uppercase;
}
.link-arrow::after {
  content: "-->";
  margin-left: 5px;
  transition: margin 0.15s;
}
.link-arrow:hover::after {
  margin-left: 10px;
}
@media screen and (min-width: 1024px) {
  .link-arrow {
    font-size: 1.5rem;
  }
}

/* Badges */
.badge {
  padding: 0.5rem 2rem;
  font-size: 2rem;
  border-radius: 20px;
  font-weight: 600;
  white-space: nowrap;
}

.badge--primary {
  background-color: var(--color-primary);
  color: white;
}

.badge--secondary {
  background-color: var(--color-secondary);
  color: white;
}

.badge--small {
  font-size: 1.4rem;
}

@media screen and (min-width: 1024px) {
  .badge {
    font-size: 1.5rem;
  }
  .badge--small {
    font-size: 1.2rem;
  }
}

/* list */
.list {
  list-style-type: none;
  padding-left: 0;
}
/* for inline styles */
.list--inline .list__item {
  display: inline-block;
  margin-right: 1rem;
}
.list--tick {
  list-style-image: url("../icons/tick.svg");
  padding-left: 3rem;
}
.list--tick .list__item {
  padding-left: 0.5rem;
  margin-bottom: 1rem;
}
@media screen and (min-width: 1024px) {
  .list--tick .list__item {
    padding-left: 0;
  }
}

/* icon */
.icon {
  width: 40px;
  height: 40px;
}
.icon--primary {
  fill: #1b0760;
}
.icon-container {
  background-color: #00d9ff;
  border-radius: 50px;
  display: inline-flex;
  width: 64px;
  height: 64px;
  justify-content: center;
  align-items: center;
}

/* inputs */

.input {
  padding: 1.5rem 3.5rem;
  border: 1px solid #00d9ff;
  border-radius: var(--border-radius);
  outline: 0;
  color: var(--color-heading);
  font-size: 2rem;
}
::placeholder {
  color: darkgrey;
}
@media screen and (min-width: 1024px) {
  .input {
    font-size: 1.5rem;
  }
}

/* buttons  */
.btn {
  padding: 2rem 3rem;
  border-radius: var(--border-radius);
  border: 0;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1.8rem;
  cursor: pointer;
  white-space: nowrap;
  text-align: center;
  margin: 1rem 0;
}
.btn--primary {
  background-color: var(--color-primary);
  color: white;
}
.btn--secondary {
  background-color: var(--color-secondary);
  color: white;
}
.btn--accent {
  background-color: var(--color-accent);
  color: white;
}
.btn--block {
  width: 100%;
  display: inline-block;
}

/* button group */
.input-group {
  border: 1px solid var(--color-primary);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input {
  border: 0;
  flex-grow: 1;
  padding: 1.5rem 1rem;
}
.input-group .btn {
  margin: 4px;
}

/* media objects */
.media {
  display: flex;
}
.media .media__title {
  margin-top: 0;
}
.media__body {
  margin: 0 2rem;
}
.media__image {
  margin-top: 1rem;
}

/* blockquote */
.quote {
  font-size: 3rem;
  font-style: italic;
  color: var(--color-body);
}
.quote__text::before {
  content: open-quote;
}
.quote__text::after {
  content: close-quote;
}
.quote__body {
  font-style: normal;
}
.quote__author {
  margin-bottom: 0;
  font-weight: 600;
  font-size: 3rem;
}
.quote__organization {
  color: var(--color-heading);
  opacity: 0.4;
  font-size: 2rem;
}
.quote__line {
  position: relative;
  bottom: 10px;
}
