<blockquote class="quote">
    <p class="quote__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam tempore hic asperiores laboriosam quae! Cum quos illo minima quis incidunt, rem necessitatibus. Commodi eligendi illo odio praesentium quae, deserunt quas esse pariatur ducimus accusantium provident molestiae ab? Dolorum minus possimus eos vel doloremque ab unde, consequatur minima, veniam, culpa pariatur itaque sint provident distinctio doloribus explicabo animi libero commodi totam? Qui alias corporis, eaque ipsum harum sapiente ullam sequi exercitationem, expedita libero quia eius dolorem neque, ad distinctio ut non possimus repudiandae beatae laudantium in quasi soluta? Aspernatur, ut assumenda?
    </p>
    <footer>
      <div class="media">
        <div class="media__image">
          <svg class="icon icon--primary quote__line">
            <use xlink:href="./images/sprite.svg#line"></use>
          </svg>
        </div>
        <div class="media__body quote__body">
          <h3 class="media__title quote__author">Fahad Raza</h3>
          <p class="quote__organization">Teracepation</p>
        </div>
       </div>
    </footer>
  </blockquote>